@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --font-primary: "Barlow", sans-serif;
  --font-secondary: "Fraunces", serif;
  --font-size: 18px;
  --soft-red: hsl(7, 99%, 70%);
  --red-underline: hsl(10, 78%, 91%);
  --yellow-underline: hsl(51, 100%, 87%);
  --soft-red-bg: hsl(30, 75%, 98%);
  --yellow: hsl(51, 100%, 49%);
  --yellow-bg: hsl(48, 97%, 59%);
  --red-bg: hsl(7, 82%, 67%);
  --red-bg2: hsl(0, 80%, 67%);
  --desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --moderate-cyan: hsl(168, 34%, 41%);
  --header-bg: hsl(200, 96%, 63%);
  --footer-bg: hsl(167, 44%, 70%);
  --blue-bg: hsl(195, 95%, 66%);
  --blue-bg2: hsl(200, 84%, 60%);
  --green-bg: hsl(165, 47%, 74%);
  --desaturated-blue: hsl(212, 27%, 19%);
  --verydark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --svg-color: hsl(168, 45%, 32%);
  --contact-hover: hsl(199, 96%, 71%);
}

/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size);
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
}

h1,
h2 {
  font-family: var(--font-secondary);
}

.mobile {
  display: none;
}

.container {
  width: min(100%, 1440px);
  margin-inline: auto;
}

.logo {
  transform: scale(1.35);
}

img,
svg {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Section */
header {
  background-color: var(--header-bg);
}

.header-section {
  background-image: url(../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem auto;
  color: var(--white);
  padding: 1.5rem 2.6rem 0;
  height: 50rem;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  position: relative;
}

.header-logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.25rem;
}

.nav-links {
  margin: 0.75rem 0;
}

.nav-item {
  display: inline-block;
  list-style-type: none;
  padding: 0 1.5rem;
  font-size: 1.1rem;
}

.nav-item:last-of-type {
  padding-right: 0;
}

.link:hover {
  cursor: pointer;
  color: var(--desaturated-blue);
}

.contact {
  display: inline-block;
  background-color: var(--white);
  color: var(--desaturated-blue);
  font-family: var(--font-secondary);
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.95rem 1.75rem;
  border-radius: 50px;
  font-size: 1rem;
  margin: 0;
}

.contact:hover {
  color: var(--white);
  background-color: var(--contact-hover);
  cursor: pointer;
}

.menu-button {
  display: none;
}

.header-text {
  grid-column: span 2;
  text-align: center;
}

.title {
  font-size: 3.35rem;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 5.5rem 0 5rem;
}

.down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Section */
.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 0;
}

.transform-image {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.services-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.services-transform {
  background: linear-gradient(
    to right,
    var(--soft-red-bg) 0%,
    var(--soft-red-bg) 50%,
    var(--yellow-bg) 50%,
    var(--yellow-bg) 100%
  );
}

.services-stand-out {
  background: linear-gradient(
    to right,
    var(--red-bg) 0%,
    var(--red-bg) 50%,
    var(--soft-red-bg) 50%,
    var(--soft-red-bg) 100%
  );
}

.services-design-photography {
  background: linear-gradient(
    to right,
    var(--green-bg) 0%,
    var(--green-bg) 50%,
    var(--blue-bg) 50%,
    var(--blue-bg) 100%
  );
}

.gallery-section {
  background: linear-gradient(
    to right,
    var(--blue-bg2) 0%,
    var(--blue-bg2) 50%,
    var(--red-bg2) 50%,
    var(--red-bg2) 100%
  );
}

.transform-text,
.stand-out-text,
.client-testimonials {
  background-color: var(--soft-red-bg);
}

.primary-service {
  color: var(--desaturated-blue);
}

.transform-text {
  padding: 10rem 6.75rem 0 10.25rem;
}

.stand-out-text {
  padding: 9.75rem 7rem 0;
}

.primary-heading {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-weight: 900;
}

.primary-paragraph {
  color: var(--dark-grayish-blue);
  margin-bottom: 2.5rem;
}

.transform.paragraph {
  line-height: 1.7;
}

.stand-out.primary-paragraph {
  padding-right: 3rem;
  margin-top: 2.25rem;
}

.learn-more-link {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 1rem;
  padding-left: 0.5rem;
  z-index: 10;
  position: relative;
  cursor: pointer;
  font-weight: 700;
}

.border {
  border-radius: 5px;
  width: 8rem;
  position: relative;
  bottom: 0.6rem;
}

.transform.border {
  border: 4px solid var(--yellow-underline);
}

.stand-out.border {
  border: 4px solid var(--red-underline);
}

.learn-more-link:hover + .transform.border {
  border-color: var(--yellow);
}

.learn-more-link:hover + .stand-out.border {
  border-color: var(--soft-red);
}

.secondary-service {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 3.5rem 12rem;
  height: 37.5rem;
}

.graphic-design {
  background-image: url(../images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--desaturated-cyan);
}

.photography {
  background-image: url(../images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--dark-blue);
}

.secondary-heading {
  text-transform: capitalize;
  font-weight: 900;
  margin-bottom: 1.6rem;
  font-size: 1.75rem;
}

.secondary-paragraph {
  font-size: 1rem;
}

/* Client Testimonials Section */
.client-testimonials {
  text-align: center;
  padding: 5rem 5rem 10rem;
}

.testimonials-heading {
  color: var(--grayish-blue);
  letter-spacing: 0.275em;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 5rem 0;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.75rem;
  width: min(100%, 69rem);
  margin: auto;
}

.testimonial {
  color: var(--verydark-grayish-blue);
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-avatar {
  border-radius: 50%;
  width: 4.5rem;
  height: auto;
}

.testimonial-paragraph {
  margin: 4rem 0;
  line-height: 1.7;
}

.client-name {
  color: var(--desaturated-blue);
  font-family: var(--font-secondary);
  font-weight: 900;
  margin-bottom: 0.25rem;
}

.client-role {
  color: var(--grayish-blue);
  font-size: 0.9rem;
}

/* Gallery Image Section */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Footer Section */
footer {
  background-color: var(--footer-bg);
  text-align: center;
  padding: 4.6rem 0 0.1rem;
  line-height: 1.2;
}

.footer-logo-section {
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo-section svg {
  margin-right: 1rem;
}

.footer-logo {
  fill: var(--svg-color);
}

.footer-links {
  margin-bottom: 1.1rem;
}

.footer-li {
  list-style-type: none;
  display: inline-block;
  color: var(--moderate-cyan);
  margin: 1.6rem;
}

.footer-li:hover {
  color: var(--white);
  cursor: pointer;
}

.social-icons {
  padding: 2.5rem;
}

.social-icon {
  display: inline-block;
  cursor: pointer;
  fill: var(--white);
  margin: 0.75rem;
}

.social-icon:hover svg.social-media path {
  fill: var(--white);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--moderate-cyan);
}

.attribution a:hover {
  color: var(--white);
  text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 1260px) {
  .header-section {
    color: var(--white);
    padding: 2rem 1.75rem 0;
  }

  .services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .transform-image {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .transform-text,
  .stand-out-text {
    padding: 4.5rem 1.5rem 4rem 1.75rem;
  }

  .primary-service {
    text-align: center;
  }

  .primary-heading {
    font-size: 1.875rem;
  }

  .stand-out.primary-paragraph {
    padding-right: 0;
  }

  .border {
    position: relative;
    bottom: 0.6rem;
    left: 0;
    right: 0;
    margin-inline: auto;
  }

  .secondary-service {
    padding: 4rem 1.5rem;
  }

  .secondary-heading {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .client-testimonials {
    text-align: center;
    padding: 4rem 1.5rem 5.5rem;
  }

  .testimonials-heading {
    font-size: 1rem;
    margin: 0 0 4rem;
  }
}

@media screen and (max-width: 810px) {
  .header-section {
    height: 45rem;
  }

  .title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 750px) {
  .nav-links {
    display: none;
  }

  .nav-links.open {
    display: block;
    position: absolute;
    top: 7rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding-top: 3rem;
  }

  .nav-links::after {
    content: "";
    position: absolute;
    top: -1.9rem;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 2rem solid var(--white);
    border-left: 2rem solid transparent;
  }

  .nav-item {
    display: block;
    padding: 0;
    text-align: center;
    color: var(--desaturated-blue);
    margin-bottom: 2rem;
  }

  .link:hover {
    cursor: pointer;
    color: var(--desaturated-blue);
  }

  .contact {
    display: inline-block;
    background-color: var(--yellow);
    color: var(--desaturated-blue);
    font-family: var(--font-secondary);
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.95rem 1.75rem;
    border-radius: 50px;
    font-size: 1rem;
    margin: 0;
  }

  .contact:hover {
    color: var(--white);
    background-color: var(--contact-hover);
    cursor: pointer;
  }

  .menu-button {
    display: flex;
    align-items: center;
  }

  .graphic-design {
    background-image: url(../images/mobile/image-graphic-design.jpg);
  }

  .photography {
    background-image: url(../images/mobile/image-photography.jpg);
  }

  .testimonials {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .testimonial-paragraph {
    margin: 2rem 0;
  }

  .client-name {
    color: var(--desaturated-blue);
    font-family: var(--font-secondary);
    font-weight: 900;
    margin-bottom: 0.25rem;
  }

  .client-role {
    color: var(--grayish-blue);
    font-size: 0.9rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 620px) {
  .header-section {
    background-image: url(../images/mobile/image-header.jpg);
  }
}

@media screen and (max-width: 370px) {
  .header-section {
    height: 40rem;
  }

  .title {
    font-size: 1.75rem;
  }
}
