@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --font-primary: 'Barlow', sans-serif;;
  --font-secondary: font-family: 'Fraunces', serif;
  --font-size: 18px;
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --moderate-cyan: hsl(168, 34%, 41%);
  --desaturated-blue: hsl(212, 27%, 19%);
  --verydark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue:hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

/* CSS Reset */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size);
}

.mobile {
  display: none;
}
/* Footer Sectin */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--moderate-cyan);
}
